functions definition

In [104]:
length =50
width=30
areas=length*width
print(areas)

1500

In [105]:
length=30
width=50
areas=length*width
print(areas)

1500

defining functions

In [1]:
def calculate_area():
    length=30
    width=20
    area=length*width
    print(area)

In [2]:
calculate_area()

600

In [3]:
#set Arguments while defining the functions

In [4]:
def calculate_area(length,width):
    area=length*width
    print(area)

#

In [5]:
calculate_area(20,50)

1000

In [6]:
def calculate_area(length,width):
    area =length*width
    return area

In [7]:
calculate_area(40,45)

1800

In [8]:
calculate_area(20,70)

1400

In [9]:
area1=calculate_area(20,60)
area2=calculate_area(30,70)

In [10]:
area1

1200

In [11]:
area2

2100

default parameters
SSLC registration

In [12]:
def add_student(name,age,city):
    print(f'''
         Student,{name}of age{age}from{city}has been enrolled
         ''')

In [13]:
add_student('parthiban',16,'cuddalore')

         Student,parthibanof age16fromcuddalorehas been enrolled

In [14]:
add_student('ragul',15,'pondy')

         Student,ragulof age15frompondyhas been enrolled

In [15]:
def add_student(name,city,age=16):
    print(f'''
         Student,{name}of age{age}from{city}has been enrolled
         ''')

In [16]:
def add_student(name,city='cuddalore',age=16):
    print(f'''
          Student{name},of age{age}from{city}has been enbrolled successfully
          ''')
    
add_student('ragul','cuddalore',16)
add_student('aravindh','pondy',18)

          Studentragul,of age16fromcuddalorehas been enbrolled successfully


          Studentaravindh,of age18frompondyhas been enbrolled successfully

In [17]:
def add_student(name,city,age=16):
    print(f'''
         Student,{name}of age{age}from{city}has been enrolled
         ''')

add_student('ragul','cuddalore')
add_student('aravindh','pondy',18)

         Student,ragulof age16fromcuddalorehas been enrolled


         Student,aravindhof age18frompondyhas been enrolled

keyword argument

In [18]:
def add_student(name,age=17,city='cuddalore'):
    print(f'''
          student{name},of age{age}from{city}has been enbrolled successfully
          ''')
    
add_student('aravindh')
add_student('parthiban')
add_student('rocky')

          studentaravindh,of age17fromcuddalorehas been enbrolled successfully


          studentparthiban,of age17fromcuddalorehas been enbrolled successfully


          studentrocky,of age17fromcuddalorehas been enbrolled successfully

arbitary Argument

In [19]:
def sum_all_number(x,y):
    total=x+y
    return total

In [20]:
sum_all_number(10,20)

30

In [21]:
def sum_all_numbers(*numbers):
    return sum(numbers)

In [22]:
sum_all_numbers()

0

In [23]:
sum_all_numbers(12,56,76)

144

doc string -help manual

In [24]:
def calculate_area(length,width):
    area =length*width
    return area

In [25]:
calculate_area(length,width)

NameError: name 'length' is not defined

In [ ]:
def calculate_area(length,width):
    print(f"""
          to calculate rectangle area
          """)
    area = length*width
    return area

In [ ]:
calculate_area